

body {  
    background: #f0f0f0;
    width: 1200px;
    max-width: 100%;
    margin: 1em auto;
    padding: 1em;
    text-align: center;

}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 

.main {
    display: grid;
    grid-template: repeat(12,100px) / repeat(8,100px) ;
    grid-gap: 5px;
    width: 1200px;
    height: 800px;
}

.main > div {
    border: 1px solid black;
}


.main > div p{
    font-size: 35px;
    text-transform: uppercase;
}

.foto{
   
    background-color: rgb(199, 184, 184);
    grid-area: 1 / 1 / 9 / 4;
}
.name{
  
    background-color: rgb(109, 109, 109);
    grid-area: 1 / 4 / 3 / 9;
}

.cit{
   
    background-color: black;
    color: white;
    border-radius: 250px;
    grid-area: 3 / 4 / 8 / 9;
}


/* SEKCJA ABOUT-ME */
.about-me{
    
    background-color: rgb(121, 121, 199);
    grid-area: 1 / 9 / 3 / 13;
}
.about-me a {
    display: flex;
    flex-flow: column;
    min-height: 80px;
    margin: 5px;
    background-color: rgb(199, 184, 184);
    border: 3px solid black;
    justify-items: flex-end;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.about-me a:hover{
    background-color: rgb(134, 128, 128);
}
/* SEKCJA PROJEKTY */

.projects{
   
    background-color: rgb(38, 48, 58);
    grid-area: 3 / 9 / 7 / 13;
}
.projects a {
    display: flex;
    flex-flow: column;
    min-height: 80px;
    margin: 5px;
    background-color: rgb(199, 184, 184);
    border: 3px solid black;
    justify-items: flex-end;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.projects a:hover{
    background-color: rgb(134, 128, 128);
}
.contact{
  
    grid-area: 7 / 9 / 9 / 13;
    background-color: rgb(47, 52, 70);
}

