body {  
    background: #222629;
    width: 1000px;
    max-width: 100%;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
}

* {
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

nav{
    display: flex;
    justify-content: flex-end
}
    nav a{
        color: #86c232;
        text-transform: uppercase;
        margin-left: 20px;
        margin-right: 10px;
    }

section{
    display:  flex;
    flex-flow: column;
   
}

hr{
    border: 2px solid #86c232;
}
.main{
    display: flex;
    flex-flow: row;
    max-width: 100%;

}  
    .box-left{
        background-color:#474B4F ;
        color: #474B4F;
        justify-content: space-between;
        height: 600px;
        width: 25%;
        max-width: 220px;
        margin: 10px;

    }
        .box-left img{
            position: relative;
        }

    .box-right{
        background-color: #474B4F;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        height: 600px;
        width: 75%;
        margin:10px;
    
    }
        .home{
            background-color: white; 
            font-size: 20px;          
            min-height: 10%;
            margin: 5%;  
          
        }
  


        .cit{
            background-color: white; 
            font-size: 16px;  
            font-weight: lighter;
            width: 300px;
            height: 300px;
            border-radius: 150px;
            margin: 0 auto; 
            display: flex;
            flex-flow: column;
            justify-content: center;
            margin-bottom: 50px;
         
        }

            .cit p{
         
            }


.box-projects{
    color: #86c232;
    display: flex;
   flex-flow:column;
    height: auto;
    }

    .projects-main{
        display: flex;
        flex-flow: row;
    }

    .projects-main div{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        margin: 5px;
       
    }

    .projects-main h2{
        font-size: 25px;
        text-transform: uppercase;
        
    }

    
    .projects-main a{
        background-color: #61892F;
        color: #222629;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        width: 300px;
    }

    .projects-main p{
        background-color: #6b6e70;
        color: #222629;
        font-size: 18px;
        width: 300px;
        height: 500px;
    }

.box-contact{
    color: #86c232;

    }
    
    .box-contact h2{
        font-size: 25px;
        text-transform: uppercase;
    }